## Queries

### 9.

In [4]:
from neo4j import GraphDatabase
import pandas as pd

def get_dungeon_gold(dungeon_name):
    uri = "bolt://localhost:7687"
    driver = GraphDatabase.driver(uri,  auth=("neo4j", "BDII2023"))
    with driver.session() as session:
        query = '''
        MATCH (:Area)-[i:IS_CONNECTED]->(startRoom:Room)
        MATCH (:Area)<-[i2:IS_CONNECTED]-(:Room)
        WHERE i.dungeon_name = $dungeon_name AND i2.dungeon_name = $dungeon_name
        CALL apoc.path.subgraphNodes(startRoom, {
            relationshipFilter: "IS_CONNECTED",
            labelFilter: "Room"
        }) YIELD node
        MATCH (node)-[:CONTAINS]->(l:Loot)
        RETURN sum(l.gold) as gold

        '''
        result = session.run(query, dungeon_name=dungeon_name)
        data = pd.DataFrame([r.values() for r in result], columns=result.keys())
        
    return data

get_dungeon_gold('Fenglass, Sepulcher of the Terrible Emperors')

     gold
0  1227.0

### 10.

In [5]:
def get_mean_monster_lvl(dungeon_name):
    uri = "bolt://localhost:7687"
    driver = GraphDatabase.driver(uri,  auth=("neo4j", "BDII2023"))
    with driver.session() as session:
        query = '''
        MATCH (:Area)-[i:IS_CONNECTED]->(startRoom:Room)
        MATCH (:Area)<-[i2:IS_CONNECTED]-(:Room)
        WHERE i.dungeon_name = $dungeon_name AND i2.dungeon_name = $dungeon_name
        CALL apoc.path.subgraphNodes(startRoom, {
            relationshipFilter: "IS_CONNECTED",
            labelFilter: "Room"
        }) YIELD node
        MATCH (node)-[:CONTAINS]->(m:Monster)
        RETURN avg(m.level) as average_level

        '''
        result = session.run(query, dungeon_name=dungeon_name)
        data = pd.DataFrame([r.values() for r in result], columns=result.keys())
        
    return data

get_mean_monster_lvl('Fenglass, Sepulcher of the Terrible Emperors')

   average_level
0       8.366972

### 11.

In [6]:
def get_mean_relationships_in_dungeon(dungeon_name):
    uri = "bolt://localhost:7687"
    driver = GraphDatabase.driver(uri,  auth=("neo4j", "BDII2023"))
    with driver.session() as session:
        query = '''
        MATCH (:Area)-[i:IS_CONNECTED]->(startRoom:Room)
        MATCH (:Area)<-[i2:IS_CONNECTED]-(:Room)
        WHERE i.dungeon_name = $dungeon_name AND i2.dungeon_name = $dungeon_name
        CALL apoc.path.subgraphNodes(startRoom, {
            relationshipFilter: "IS_CONNECTED",
            labelFilter: "Room"
        }) YIELD node
        MATCH (node)-[r:IS_CONNECTED]-(:Room)
        RETURN node.room_id as id , count(r) as number_of_relationships
        '''
        result = session.run(query, dungeon_name=dungeon_name)
        data = pd.DataFrame([r.values() for r in result], columns=result.keys())
        avg = data['number_of_relationships'].mean()
        # make a groupby to count the number of relationships and get the mean

        
    return avg

get_mean_relationships_in_dungeon('Fenglass, Sepulcher of the Terrible Emperors')

4.31858407079646

### 12.

In [7]:
def get_max_monster_lvl(dungeon_name):
    uri = "bolt://localhost:7687"
    driver = GraphDatabase.driver(uri,  auth=("neo4j", "BDII2023"))
    with driver.session() as session:
        query = '''
        MATCH (:Area)-[i:IS_CONNECTED]->(startRoom:Room)
        MATCH (:Area)<-[i2:IS_CONNECTED]-(:Room)
        WHERE i.dungeon_name = $dungeon_name AND i2.dungeon_name = $dungeon_name
        CALL apoc.path.subgraphNodes(startRoom, {
            relationshipFilter: "IS_CONNECTED",
            labelFilter: "Room"
        }) YIELD node
        MATCH (node)-[:CONTAINS]->(m:Monster)
        RETURN m.name as monster_name, max(m.level) as max_level, node.room_id as room_id, node.room_name as room_name

        '''
        result = session.run(query, dungeon_name=dungeon_name)
        data = pd.DataFrame([r.values() for r in result], columns=result.keys())
        max_level_row = data.loc[data['max_level'].idxmax()]
        
    return max_level_row

get_max_monster_lvl('Fenglass, Sepulcher of the Terrible Emperors')

monster_name             fire giant
max_level                        50
room_id                         289
room_name       magnificent cellar
Name: 24, dtype: object

### 13.

In [8]:
def get_exp_per_room(dungeon_name):
    uri = "bolt://localhost:7687"
    driver = GraphDatabase.driver(uri,  auth=("neo4j", "BDII2023"))
    with driver.session() as session:
        query = '''
        MATCH (:Area)-[i:IS_CONNECTED]->(startRoom:Room)
        MATCH (:Area)<-[i2:IS_CONNECTED]-(:Room)
        WHERE i.dungeon_name = $dungeon_name AND i2.dungeon_name = $dungeon_name
        CALL apoc.path.subgraphNodes(startRoom, {
            relationshipFilter: "IS_CONNECTED",
            labelFilter: "Room"
        }) YIELD node
        MATCH (node)-[:CONTAINS]->(m:Monster)
        RETURN node.room_id as room_id, node.room_name as room_name, sum(m.exp) as total_exp

        '''
        result = session.run(query, dungeon_name=dungeon_name)
        data = pd.DataFrame([r.values() for r in result], columns=result.keys())
        # sort by total_exp
        data = data.sort_values(by='total_exp', ascending=False)
        data.reset_index(drop=True, inplace=True)
        
    return data

get_exp_per_room('Fenglass, Sepulcher of the Terrible Emperors').head()

   room_id                      room_name  total_exp
0      289            magnificent cellar        5000
1      287                        chapel        4600
2      321  fancy vault of sumo wrestlers       4600
3      320                jolly washroom        4000
4      477                   wine cellar        3600

### 14.

In [9]:
def most_exp_room(dungeon_name):
    room = get_exp_per_room(dungeon_name=dungeon_name).iloc[0][['room_id', 'room_name']]
    return room

most_exp_room('Fenglass, Sepulcher of the Terrible Emperors')

room_id                      289
room_name    magnificent cellar
Name: 0, dtype: object

## Visualizaci√≥n

## Filtrado colaborativo

### Sin plugins

In [13]:
def get_monster_reccomendations(room_id):
    uri = "bolt://localhost:7687"
    driver = GraphDatabase.driver(uri,  auth=("neo4j", "BDII2023"))
    with driver.session() as session:
        query = '''
        MATCH (r:Room {room_id: $room_id})-[:CONTAINS]->(m:Monster)<-[:CONTAINS]-(r2:Room)-[:CONTAINS]->(m2:Monster)
        RETURN DISTINCT m2.name as monster_name, m2.level as monster_level, m2.exp as monster_exp
        '''
        result = session.run(query, room_id=room_id)
        data = pd.DataFrame([r.values() for r in result], columns=result.keys())
        
    return data

get_monster_reccomendations(473)

       monster_name  monster_level  monster_exp
0            magmin              1          100
1              azer              4          450
2               imp              2          200
3          succubus             11         1100
4   earth elemental             18         1800
5      spined devil              4          450
6    fire elemental             18         1800
7   water elemental             18         1800
8     bearded devil              7          700
9         mezzoloth             18         1800
10           quasit              2          200
11             xorn             18         1800
12     shadow demon             11         1100
13       hell hound              7          700
14    air elemental             18         1800
15           couatl             11         1100
16       salamander             18         1800
17         barlgura             18         1800
18          cambion             18         1800
19            vrock             23         2300
20        red slaad             18         1800
21       fire snake              2          200

### Usando GDS

In [15]:
from graphdatascience import GraphDataScience

# configure connection

print(f"GDS version: {gds.version()}")

GDS version: 2.6.4

In [30]:
from graphdatascience import GraphDataScience

def get_top5_monster_recommendations(room_id):
    gds = GraphDataScience("neo4j://localhost:7687", auth=("neo4j", "BDII2023"))
    
    query = """
    MATCH (r:Room {room_id: $id}) WITH r
    MATCH (m:Monster) WHERE not (r)-[:CONTAINS]->(m)
    RETURN m.name as monster, gds.alpha.linkprediction.preferentialAttachment(r, m, {relationshipQuery: "CONTAINS"}) AS score
    ORDER BY score DESC LIMIT 5
    """
    result = gds.run_cypher(query, {"id": room_id})
    return result



get_top5_monster_recommendations(473)

    monster   score
0     chuul  2190.0
1     driad  2016.0
2   sea hag  1992.0
3   wererat  1230.0
4  gargoyle  1218.0